<div class='row' >
<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
<%= form_for [@pet, @post], html: {multipart: true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="center">
    <%= image_tag @post.photo.to_s, style: "max-width: 150px", class: 'frame-img' %>

    <% unless @post.pet %>
      <div class="field">
        <%= f.file_field :photo %>
      </div>
    <% end %>
  </div>

  <% unless @post.pet %>
    <div class="form-group">
      <label class="control-label">Direcci&oacute;n: </label>
      <%= f.text_field :address, class:'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <label class="control-label">Mensaje: </label>
    <%= f.text_area :description, class:'form-control' %>
  </div>

  <% if @type %>
    <%= f.hidden_field :kind, value: @type %>
  <% else %>
    <div class="form-group">
      <label class="control-label">Tipo: </label>
      <%= f.select :kind, post_kinds_for_select, class:'form-control' %>
    </div>
  <% end %>

  <div class="center">
    <button type="submit" class="pet-button">
      <%= image_tag("check-72px.png", :alt => "Enviar") %>
    </button>
   </div>
<% end %>
</div>
</div>
