<h1>Mascotas
<%= @title %>
</h1>

<div class="divisor">
  <%= image_for_post_kind(@type) %>
</div>

<div class="row post">
  <% if @posts.blank? %>
    <div class="no-content">
      No hay anuncios creados. Crea un nuevo anuncio presionando el botón +
    </div>
  <% end %>
  <% @posts.each do |post| %>
    <div class="col-xs-6 col-sm-4 col-md-3 polaroid">
      <%= link_to post_path(post), { style: "background-image: url('#{image_path post.photo}');" } do %>
        <span class="image-caption"><%= post.name %></span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="add-button">
  <%= link_to (image_tag("plus-72px.png", :alt => "Anuncio Nuevo")), select_posts_path(k: params[:k]) %>
</div>
