<h1>Mascotas
<%= @title %>
</h1>

<h3>SELECCIONAR MASCOTA</h3>

<div class="divisor">
  <%= image_for_post_kind(@type) %>
</div>

<div class="row post">
  <% @pets.each do |pet| %>
    <div class="col-xs-6 col-sm-4 col-md-3 polaroid">
      <%= link_to new_pet_post_path(pet, k: params[:k]), { style: "background-image: url('#{image_path pet.photo}');" } do %>
        <span class="image-caption"><%= pet.name %></span>
      <% end %>
    </div>
  <% end %>
</div>

<h3>Crear un post para una mascota que no te pertenece presionando el botón +</h3>

<div class="add-button">
  <%= link_to (image_tag("plus-72px.png", :alt => "Anuncio Nuevo")), new_post_path(k: params[:k]) %>
</div>
