<h1>Mascotas
<%= @title %>
</h1>

<div class="divisor">
  <%= image_for_post_kind(@type) %>
</div>

<div class='row' >
 <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <div class="media">
    <div class="pull-left">
      <%= image_tag @post.photo, style: "max-width: 150px",  class: 'frame-img' %>
    </div>
    <div class="media-body">
      <h3 class="media-heading"><%=@post.name%></h3>
      <p>Dirección: <%= @post.address %></p>
      <p>Tipo: <%=t "post.kind.#{@post.kind}" %></p>
    </div>
  </div>

  <div class="panel panel-default" style='margin-top:5px;'>
    <div class="panel-heading">Mensaje</div>
    <div class="panel-body">
      <p><%= @post.description %></p>
    </div>
  </div>

  <div class="panel panel-default" style='margin-top:5px;'>
    <div class="panel-heading">Datos de contacto</div>
    <div class="panel-body">
      <p>Nombre: <%= @post.user.full_name %></p>
      <p>Email: <%= @post.user.email %></p>
      <p>N&uacute;mero telef&oacute;nico: <%= @post.user.phone_number %></p>
      <p>Ubicaci&oacute;n: <%= @post.user.location %></p>
    </div>
  </div>

  <% if @post.pet %>
    <p>
      <%= link_to 'Ver mascota', @post.pet, class: 'btn btn-success' %>
    </p>
  <% end %>

  <div class="social-buttons">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= post_url(@post) %>" data-via="MiMascotaNet" data-lang="en">Tweet</a>
    <g:plusone size="medium"></g:plusone>
    <div class="fb-like" data-href="<%= post_url(@post) %>" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
  </div>

  <% if current_user == @post.user %>
    <div class="add-button">
      <%= link_to (image_tag("edit-72px.png", :alt => "Editar")), edit_post_path(@post) %>
    </div>
  <% end %>

  <div class="panel panel-default" style='margin-top: 5px; padding-top: 15px;'>
    <div style="text-align: center;">
      <div class="fb-comments" data-href="<%= post_url(@post) %>" data-numposts="5" data-colorscheme="light"></div>
    </div>
  </div>
 </div>
</div>