@font-face {
  font-family: 'fnormal';
  src: asset-url('dfdChasquilla.otf');
}

@background:              #435b67;
@generalFontColor :       white;
@photoGalleryBackground:  white;
@photoGalleryBorder:      #777;

@polaroidText: #435b67;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: @background;
  font-family: Arial, Helvetica, sans-serif;
  color: generalFontColor;
}

h1, h2,h3,h4,h5,h6 {
  font-family: fnormal, Helvetica, Arial, sans-serif;
  color: @generalFontColor;
  margin-top: 0;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -121px;
  /* Pad bottom by footer height */
  padding: 0 0 121px;
}

/* Set the fixed height of the footer here */
#footer {
  background-image:image-url('pttr-cerca.png');
  background-repeat:repeat-x;
  min-height: 121px;
}

.navbar{
  background-image:image-url('pttr-top5.png');
  background-repeat:repeat-x;
  min-height: 70px;
  background-color: transparent;
  border: none;
}

.center {
  float: none;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 430px) {
  .logo {
    width: 40%;
    margin-top: 5px;
  }
}

.home {
  position: absolute;
  left: 5px;
  top: 5px;
}

.logout {
  position: absolute;
  right: 5px;
  top: 5px;
}

.polaroid {
  margin-bottom: 10px;

  a {
    width: 100%;
    border: 3px solid @photoGalleryBackground;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: @photoGalleryBackground;
    background-position: center center;
    position: relative;

    .image-caption {
      bottom: 0;
      position: absolute;
      background-color: rgba(255, 255, 255, .7);
      width: 100%;
      padding: 5px;
      color: @polaroidText;
    }

    &:hover {
      text-decoration: none;
    }

    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }
  }
}

.divisor {
  background-image:image-url('div-grey.png');
  background-repeat:repeat-x;
  min-height: 30px;
  position: relative;

  img {
    position: absolute;
    right: 18px;
    top: -18px;
  }
}

.add-button {
  text-align: center;
  margin: 0 auto;
  min-height: 75px;
 
}
.panel-heading{
  background-color: #d9dadf;
  border-bottom: 1px solid #435b67;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  color:#435b67;
}

.panel-body{
  background-color: #d9dadf;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.media-body p,.media-body h3{
  color: white;
  font-family: Arial;
}
.frame-img{
  border: 3px solid @photoGalleryBackground;
}

label{
  color:white;
}

.no-content {
  color: white;
  padding: 20px;
  font-size: 16px;
}

.pet-button {
  background-color: transparent;
  border: none;
}

.qr-link {
  background-color: #74be57;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0px;
  display: block;
  width: 149px;

  &:hover {
    color: #435b67;
  }
}

.tooltip {
  font-size: 14px !important;
}

.devise_content input[type=submit] {
  background-color: #74be57;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0px;
  display: block;
  min-width: 149px;
  border: none;
  margin: 15px auto;

  &:hover {
    color: #435b67;
    text-decoration: underline;
  }
}

.new_user_links {
  margin-bottom: 20px;

  a {
    color: white;
  }
}

.devise_content {
  text-align: center;
  margin: 0 auto;

  input[type=text], input[type=email], input[type=password] {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
}
