<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Mi Mascota" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  </head>
  <body>
    <div  id="wrap">

    <div class="navbar">
      <div class="container-fluid">
        <div class="center">
          <%= link_to dashboard_path do %>
            <%= image_tag("ico-home48px.png", alt: "Inicio", class: "home") %>
          <% end %>
          <%= image_tag("logo1.png", alt: "Mi mascota", class: "logo") %>
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= image_tag("power-48px.png", alt: "cerrar sesion", class: "logout") %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div><!--/row-->
      </div> <!-- /container-fluid -->
    </div>

    <div id="footer">
      <div class="container">
      </div>
    </div>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCxO4d6suC1rBUhSypV7wxuQvpJIgtbOcQ&sensor=true" %>
    <%= javascript_include_tag "application" %>
    <div id="fb-root"></div>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  </body>
</html>
